<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Event</title>
</head>
<body>
  <div class="header">
    <%= render "shared/header" %>
  </div>  
  <%= form_with model: @event do |form| %>
    <div>
      <%= label(:event, :name, "Name:") %>
      <%= text_field(:event, :name) %>
    </div>
    <div>
      <%= label(:event, :date, "Date:") %>
      <%= date_field(:event, :date) %>
    </div>
    <div>
      <%= label(:event, :location, "Location:") %>
      <%= text_field(:event, :location) %>
    </div>
    <%= form.submit %>
  <% end %>
</body>
</html>